<h1> <%=productJson.autor%></h1>

<ul>
    <li>
        duracion : <%=productJson.titulo%>
    </li>
    <li>
        duracion : <%=productJson.texto%>
    </li>
    <li>
        duracion : <%=productJson.autor%>
    </li>
</ul>